{% extends 'core/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'core/css/Personal.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}

  <div class="container">
      <h1 style="text-align: center !important;">
          Ingresar al Sistema " Tienda "
      </h1>
      <br><br>
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-6" style="border: 2px solid gray; padding-top: 20px; padding-bottom: 20px;">
                  <form method="POST" action="" enctype="multipart/form-data" id="formulario">
                      <div style="text-align: center;">
                          {% csrf_token %} {{ form.as_p }}
                          <input type="submit" class="btn btn-primary btnwidth" id="id_guardar" value="Ingresar">
                          {% if mesg %}
                          <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
                          {% endif %}
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

    </div>
    <!-- separador -->
    <div class="separadorfooter">
      <div class="row"></div>
    </div>
    <!-- separador -->
    {% endblock content %}

