{% extends 'core/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'core/css/Personal.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}


    <!-- Contenido de la pag -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <br><br>
        <!--Imagen-->
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <a href="#"
                  ><img
                    class="card-img-top"
                    src="/media/{{ Producto.imagen }}"
                    alt=""
                /></a>
              </div>
            </div>
            <div class="card col-lg-3">
              <h2>{{ Producto.nomProducto }}</h2>
              <ol></ol>
              <div class="card col-lg-0">
                <p>Precio Oferta Efectivo</p>
                <h2>
                  <img
                  class=""
                  src="{% static 'core/img/efectivo.png'%}"
                  alt=""/>
                  $ {{ Producto.precioProducto }}
                </h2>
              </div>
              <ol></ol>

              <div class="card col-lg-0">
                <p>Otros medios de pagos</p>
                <h2>
                  <img
                  class=""
                  src="{% static 'core/img/credito.png'%}"
                  alt=""/>
                  $ {{ Producto.precioProductoCred }}
                  <!-- <h2>$0</h2> -->
                </h2>
              </div>

              <ol></ol>
              <div class="boton-compra">
                <button type="button" class="btn btn-success">Comprar</button>
              </div>
            </div>
          </div>
        </div>

        <!--ROW-->
      </div>

      <!-- Leyenda-->
      <div class="card">
        <div class="card-body">
<!--          <img
            src="/media/imagenes {{ Producto.imagen }}"
            class="img-responsive"
            style="width: 100%"
          /> -->
          <h4 class="card-title">Características</h4>

          <p>
            {{ Producto.descFichCom}}
          </p>
     
        </div>
        <div class="card-footer">
          <small class="text-muted"
            >&#9733; &#9733; &#9733; &#9733; &#9734;</small
          >
        </div>
      </div>
      <!--Row-->

      <!--Container-->
    </div>
    {% endblock content %}
